<div style="text-align:right">
	<%= link_to "Connexion", "#login-form", :class=>"button" %> |
	<%= link_to "Pas de compte ?", new_user_path %>
</div>

<div id="welcome" >
	<% if @host == "camino.philnoug.com" or @host == "dev.philnoug.com" or @account == nil or @host == "localhost"  %>
		<%= image_tag("camino_wf_logo.png", width: 70) %>
	<% else %>
		<p>
			<%= image_tag(@account.logo.url(:thumb)) %>
			<span style="font-weight:bold;font-size:20px;color:darkred;"><%= @account.sitename %></span>
		</p>
	<% end %>
	<h2>Gérez vos projets en équipe et en mobilité</h2>
	<ul>
		<li>Découpez vos projets en listes de choses à faire</li>
		<li>Invitez vos contacts à participer aux projets</li>
		<li>Assignez aux participants les choses à faire, fixez des échéances.</li>
		<li>Suivez l'activité des participants en vous abonnant aux notifications (travaux terminés, nouveaux commentaires, ajout/modification...)</li>
		<li>Créez des formulaires pour collecter des données complémentaires à vos projets (inventaire, rapport d'intervention, etc.)</li>
	</ul>

	<hr class="style-two">

	<h3>&nbsp;Fonctionnalités</h3>
	<ul>	
		<li>Création rapide de projets à partir de vos <b>modèles de projets</b></li>
		<li>Choix du <b>workflow</b> (type de déroulement de projet):</li>
		<ul>
			<li>Libre; les tâches peuvent être terminées librement, dans n'importe quel ordre</li>
			<li>Linéaire; toutes les tâches d'une liste doivent être terminées avant de pouvoir passer à la liste suivante.<br>
			 Quand une tâche est terminée, le participant assigné à la tâche suivante en est immédiatement informé.</li>
		</ul>	
		<li>Un <b>journal</b> recense, minute par minute, l'activité des participants. Toutes les modifications y sont consignées.</li>
		<li>Un <b>agenda</b> permet de visualiser les échéances globales</li>
		<li>La <b>'To-do'</b> liste les choses à faire, en attente, en souffrance ou faites par participant</b>
		<li>Les participants peuvent mener des <b>discussions</b> autour de choses à faire</li>
		<li>Une <b>notification</b> (via courriel) peut être envoyée aux participants du projet:</li>
		<ul>	
			<li>Après chaque modification, ajout ou suppression d'information</li>
			<li>Lors de l'assignation d'une tâche à un participant</li>
			<li>Avant chaque échéance</li>
		</ul>
		<li>Une notification peut être envoyée à un <b>participant extérieur</b> au projet (client) à la réalisation d'une tâche</li>
		<li>Regroupement des projets par <b>mots-clés</b></li> 
		<li>Une <b>couleur</b> pour chaque projet afin de mieux repérer les informations s'y rapportant</li>
	</ul>

	<hr class="style-two">

	<h3>&nbsp;Nouveautés</h3>
	<ul>
		<b>Formulaires & Tables de données</b>
		<br><br>
		Créez vos propres formulaires pour collecter des informations complémentaires à vos projets (temps passé, ressources consommées, rapports d'intervention, etc.). Ces formulaires peuvent contenir des données variées (texte, nombre, euros, oui/non, liste déroulante). Les données sont collectées dans des tables de données que vous pouvez ensuite exporter vers Excel.<br><br>

		<b>Mobilité</b>
		<br><br>	
		Accédez à Camino depuis votre smartphone<br> 
		Saisissez l'URL https://camino.philnoug.com dans le navigateur Web de votre téléphone.<br>
		<br><br>
	</ul>

</div>

<hr class="style-two">

<h3>&nbsp;Connexion</h3>
<div id="login-form">
	<%= form_tag do %>
		<fieldset>
				<%= label_tag :username, 'Utilisateur :' %>
				<%= text_field_tag :username, params[:username] %>
				<%= label_tag :password, 'Mot de passe :' %>
				<%= password_field_tag :password, params[:password] %>
				<%= submit_tag "Connexion", class: 'btn btn-active btn-ghost' %>
				|
				<small><i><%= link_to "Mot de passe oublié ?", forgot_password_path %></i></small>
		</fieldset>		
	<% end %>
</div>
