<% if @comment_day != comment.created_at.day %>
  <% @user_id = 0 %>
  <% @comment_day = comment.created_at.day %>
  <% month_name = I18n.t("date.month_names")[comment.created_at.month] %>
  <h3 class="mt-8 mb-4">
    <b><%= "#{@comment_day} #{month_name}" %></b>
    <%= "(Aujourd'hui)" if comment.created_at.to_date == Date.today %>
  </h3>
<% end %>

<div class="flex flex-row gap-4 lg:gap-8 mb-1">
  <div>
    <p>
      <% if @user_id != comment.user_id %>
        <% @user_id = comment.user_id %>
        <%= image_tag(comment.user.avatar, alt:'', class:'mini_avatar mx-auto') if comment.user.avatar.attached? %>
      <% end %>
    </p>
    <p style="color:lightgrey; width:45px;">
      <%= comment.created_at.strftime("%H:%M") %>
    </p>
  </div>
  <p class="break-words my-auto pl-2" style="word-break: break-word; border-left: 7px solid <%= comment.project.color if comment.project %>">
    <% if comment.user_id == current_user.id %>
      <strong>Vous</strong> avez commenté
    <% else %>
      <strong><%= comment.user.name %></strong> a commenté
    <% end %>
    <strong>'<%= "#{comment.texte}" %>'</strong>
    au sujet de <%= link_to "#{comment.project.name}:#{comment.todolist.name}:#{comment.todo.name}", edit_todo_path(comment.todo) %>
  </p>
</div>