<div class="chat <%= (comment.user == current_user) ? 'chat-end' : 'chat-start' %>">
  <div class="chat-image avatar">
    <% if comment.user.avatar.attached? %>
      <div class="w-10 rounded-full">
        <%= image_tag(comment.user.avatar, size:'25x25', alt:'', class:"mini_avatar") %>
      </div>
    <% else %>
      <div class="avatar placeholder">
        <div class="bg-primary-focus text-neutral-content rounded-full w-10">
          <span><%= comment.user.username.first.humanize %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="chat-header">
    <%= comment.user.name %>
    <time class="text-xs opacity-50"><%= l(comment.created_at, format: :heure) %></time>
  </div>
  <div class="chat-bubble <%= (comment.user == current_user) ? 'chat-bubble-accent' : '' %>"><p class="lg:text-lg"><%= comment.texte %></p></div>
</div>