<% if @comment_day != comment.created_at.day %>
  <tr>
    <td /><td /><td />
  </tr>
  <tr>
    <td /><td /><td />
  </tr>
<% end %>    
<tr>
  <% if @comment_day != comment.created_at.day %>
      <% @user_id = 0 %>
      <% @comment_day = comment.created_at.day %>
      <% month_name = I18n.t("date.month_names")[comment.created_at.month] %>
      <tr style="margin-top:50px;"></tr>
      <td>
        <b><%= "#{@comment_day} #{month_name}" %></b>
        <br>
        <%= "Aujourd'hui" if comment.created_at.to_date == Date.today %>
      </td>
  <% else %>
      <td /> 
  <% end %>
  <td style="width: 80px">
    <% if @user_id != comment.user_id %>
      <% @user_id = comment.user_id %>
      <%= image_tag(comment.user.avatar, size:'40x40') if comment.user.avatar.attached? %>
    <% end %>
  </td>
  <td class="pl-2" style="border-left: 7px solid <%= comment.project.color %>">
    <% if comment.user_id == current_user.id %>
      <b>Vous</b> avez commenté
    <% else %>
      <b><%= comment.user.name %></b> a commenté
    <% end %>
    <b>'<%= "#{comment.texte}" %>'</b>
    au sujet de <%= link_to "#{comment.project.name}:#{comment.todolist.name}:#{comment.todo.name}", edit_todo_path(comment.todo) %>
  </td>
  <td>
    <div style="color:lightgrey">
      <%= comment.created_at.strftime("%H:%M") %>
    </div>
  </td>
</tr>
<tr /><tr /><tr />
