<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :todo_id %>
  <%= f.hidden_field :user_id %>

  <div class="flex flex-wrap gap-4 items-center mb-4">
    <div class="flex items-center gap-2">
      <%= image_tag(@user.avatar, size:'25x25', alt:'', class:"mini_avatar") if @user.avatar.attached? %>
      <div>
        <%= @user.name %>
        <div style="color:lightgrey;vertical-align:top;">
          <%= DateTime.now.strftime("%d/%m/%Y %H:%M") %>
        </div>
      </div>
    </div>

    <%= f.text_field :texte, class:"input input-bordered w-full lg:w-1/3" %>
    <p>
      Visible par:
      <%= f.radio_button :audience, 1, checked:true %> l'Equipe
      <%= f.radio_button :audience, 2, checked:false %> le Client
      <%= f.radio_button :audience, 0, checked:false %> Tous
    </p>
    <%= f.submit 'Publier', class:'btn btn-active btn-ghost' %>
  </div>
<% end %>
