

<p>
  <strong>Todo:</strong>
  <%= @comment.todo %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Texte:</strong>
  <%= @comment.texte %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
