<h1>Un compte a été supprimée</h1>


<br>
account ID #<%= @account.id %>
<br>
Nom : <%= @account.name %>
<br>
Utilisateurs : <%= @account.users.pluck(:role, :email) %>
<br>
Projets : <%= @account.projects.pluck(:name) %>
<br>
Nombre de to-dos : <%= @account.todos.count %>


<% unless @reason.blank? %>
  <br><br>
  Raison : <%= @reason %>
<% end %>