<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bonjour <%= @user.name %> !</h3>
    Vous participez à présent au projet <b>'<%= @project.name %>'</b>. <br><br>

    Pour vous connecter, veuillez utiliser les informations suivantes:<br><br>

    Utilisateur: <%= @user.username %><br>
    Mot de passe: <%= @password %><br><br>

    Une fois connecté(e), vous pourrez modifier ces informations ou changer votre mot de passe. <br><br>

    <%= link_to "Se connecter", projects_url %>

  </body>
</html>
