<h1 style="text-align: center">Bienvenue !</h1>

Votre compte Camino a été créé avec succès.
<br><br>
Pour vous connecter, cliquez sur le lien suivant :
<%= link_to root_url, root_url %>

<p>En cas de besoin, vous pouvez nous contacter à l'adresse suivante : <%= link_to "https://www.philnoug.com/contact", "https://www.philnoug.com/contact?objet=Camino" %></p>

<hr style="margin-top: 30px; border: 1px solid #ccc">

<h2 style="margin-top: 2rem">Découvrez nos autres logiciels open-source :</h2>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Talea", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion des Interventions</b> (gestion de services techniques)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "PrestoFacto", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion et de facturation</b> des services journaliers (Cantine, garderie, péri-scolaire,...)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "CrystalDATA", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application <b>NO-CODE de Base de données</b> en ligne. Vos données métier 'In da Cloud' !</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Émargements", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion des feuilles de présence</b> numérique</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Business School Planning", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion de planification</b> de cours et de salles, à l’usage d’établissement de l’enseignement supérieur</p>
</div>