<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nom" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_field :project, size:'97' %>
  </div>
  <div class="field">
    <%= f.label :participants %><br>
    <%= f.text_area :participants, size:'130x5' %>
  </div>
  <div class="field">
    <%= f.label :todolists %><br>
    <%= f.text_area :todolists, size:'130x10' %>
  </div>
  <div class="field">
    <%= f.label :todos %><br>
    <%= f.text_area :todos, size:'130x10' %>
  </div>
  <div class="actions">
    <%= f.submit "Enregistrer", class:'btn btn-success' %>
  </div>
<% end %>
