<p class="text-lg mb-4">
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p class="text-lg mb-4">
  <strong>Project:</strong>
  <%= @template.project %>
</p>

<p class="text-lg mb-4">
  <strong>Participants:</strong>
  <%= @template.participants %>
</p>

<p class="text-lg mb-4">
  <strong>Todolists:</strong>
  <%= @template.todolists %>
</p>

<p class="text-lg mb-4">
  <strong>Todos:</strong>
  <%= @template.todos %>
</p>

<%= link_to 'Modifier', edit_template_path(@template) %> |
<%= link_to 'Retour', templates_path %>
