<div>
  <h1 class="font-bold text-4xl mb-6">Admin</h1>

  User records : <%= @total_lignes %> lignes
  <br>
  Audited : <%= @total_audit %> lignes

  <div class='overflow-x-auto mt-6'>
    <table class='table'>
      <thead>
        <tr>
          <th>Dernière Connexion</th>
          <th>Nb Connexions</th>
          <th>Email</th>
          <th>Account</th>
          <th>Projets</th>
          <th>Nb lignes</th>
          <th>Nb audits</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% account = user.account %>
          <tr>
            <td><%= time_ago_in_words user.current_sign_in_at if user.sign_in_count.positive? %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.email %></td>
            <td><%= account.name %> (<%= @participants_count %> users)</td>
            <% if account.users.first == user %>
              <td><%= account.projects.count %></td>
              <td><%= account_infos(account).last %></td>
              <td><%= account_infos(account).first %></td>
              <td><%= link_to "[X]", admin_suppression_compte_path(account:), class:"btn btn-ghost btn-sm" %></td>
            <% else %>
              <td colspan=4></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <span><%= page_entries_info @users, entry_name: 'user' %></span>
  <%= paginate @users %>


</div>
