<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Mail logs</h1>
  <p class="italic mb-8">Statut visible 5 jours</p>

  <%= form_tag request.path, method: :get, class: 'mb-6' do %>
    <%= label_tag :to, "Destinataire :" %>
    <%= select_tag :to, 
                    options_for_select(current_user.account.mail_logs.pluck(:to).uniq.sort, params[:to]), 
                    include_blank: true, 
                    class: 'select select-bordered select-sm',
                    data: { 'action-target': 'selector' },
                    onchange: 'this.form.submit()' %>
  <% end %>

  <div id="mail_logs" class="min-w-full">
    <%= render @mail_logs %>
  </div>

  <%= page_entries_info @mail_logs, entry_name: 'mail_log' %>
  <%= paginate @mail_logs %>
</div>
