<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @value.field %>
</p>

<p>
  <strong>Data:</strong>
  <%= @value.data %>
</p>

<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
