<br>

<%= form_for(@user, :html => { :multipart => true } ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @user.errors.count) %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :email, 'Email' %><br>
    <%= f.text_field :email %><br>
    <small><i>Indiquez votre adresse de messagerie.<br><br>
    Après la création de votre compte, un courriel récapitulatf sera envoyé à cette adresse.</i></small>
  </div>

  <br>

  <div class="actions">
    <%= f.submit (@user.new_record? ? 'Créer le compte' : 'Enregistrer'), class: 'alizarin-flat-button' %>
  </div>
<% end %>
