<%= link_to image_tag("new_logo.png", width:100), "/" %>
<br><br>

<p id="notice"><%= notice %></p>

<h2>Mot de passe oublié ?</h2>

<br>

Veuillez entrer votre adresse email, un mot de passe de remplacement va vous être envoyé.
<br><br>

<%= form_tag do %>

	<%= label_tag "Courriel:" %>	 
	<%= text_field_tag :courriel %>

	<%= submit_tag "Envoyer"%>
<% end %>