<% if @day != log.created_at.day %>
  <% @user_id = 0 %>
  <% @day = log.created_at.day %>
  <% month_name = I18n.t("date.month_names")[log.created_at.month] %>
  <h3 class="mt-8 mb-4">
    <b><%= "#{@day} #{month_name}" %></b>
  </h3>
<% end %>

<div class="flex flex-row gap-4 lg:gap-8 mb-1">
  <div>
    <p>
      <% if @user_id != log.user_id %>
        <% @user_id = log.user_id %>
        <%= image_tag(log.user.avatar, alt:'', class:'mini_avatar mx-auto', width: "30px") if log.user.avatar.attached? %>
      <% end %>
    </p>
  </div>
  <p class="break-words my-auto" style="word-break: break-word;">
    <span style="color:lightgrey;">
      <%= log.created_at.strftime("%H:%M") %>
    </span>
    <span style="margin-left: 1rem; margin-right: 1rem; width: 20px;">
      <% if log.action_id == 1 %>
        <input disabled="disabled" type="checkbox" checked="true" />
      <% elsif log.action_id == 0 %>
        <input disabled="disabled" type="checkbox" />
      <% end %>
    </span>
    <strong><%= log.user.username.humanize %></strong> a
    <%= raw log.description %>
  </p>
</div>
