<% if user_signed_in? %>
  <div class="logout">
    <%= link_to image_tag("close.png", size:'20x20'), logout_path, method: :delete %>
    <%= link_to "Se déconnecter", logout_path, method: :delete %>
  </div>

  <% unless current_user.account.logo_file_name.nil? %>
    <%= link_to image_tag(current_user.account.logo.url(:thumb)), projects_path %>
  <% else %>
    <%= link_to image_tag("camino_wf_logo.png", width:70), projects_path %>
  <% end %>

  <div class="search">
    <%= form_tag(@search_filter, url: 'index', method: :get) do %>
      <%= text_field_tag :search, params[:search], :class => "searchfield" %>
      <%= submit_tag  "", class: "searchbutton" %>
    <% end %>
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to "Projets", projects_path, class:((@ctrl == 'projects' || @ctrl == 'todolists') ? 'active':'') %></li>
      <li><%= link_to "Agenda", agenda_index_path, class:(@ctrl == 'agenda' ? 'active':'') %></li>
      <li><%= link_to "To-do", todos_path(user:current_user.id), class:(@ctrl == 'todos' ? 'active':'') %></li>
      <li><%= link_to "Activité", logs_path, class:(@ctrl == 'logs' ? 'active':'') %></li>
      <li><%= link_to "Discussions", comments_path, class:(@ctrl == 'comments' ? 'active':'') %></li>
      <li><%= link_to "Documents", documents_index_path, class:(@ctrl == 'documents' ? 'active':'') %></li>
      <li><%= link_to "Tables", tables_path, class:(@ctrl == 'tables' ? 'active':'') %></li>
      <li><%= link_to truncate(current_user.username, length: 12), current_user, class:(@ctrl == 'users' ? 'active':'') %></li>
    </ul>
  </div>
  <div id="notice_box"> 
    <span class="notice"><%= notice %></span>
  </div>
<% end %>