<li><%= link_to "Projets", projects_path, class:((@ctrl == 'projects' || @ctrl == 'todolists') ? 'link underline-offset-8':'') %></li>
<li><%= link_to "Agenda", agenda_index_path, class:(@ctrl == 'agenda' ? 'link underline-offset-8':'') %></li>
<li><%= link_to "To-do", todos_path(user:current_user.id), class:(@ctrl == 'todos' ? 'link underline-offset-8':'') %></li>
<li><%= link_to "Activité", logs_path, class:(@ctrl == 'logs' ? 'link underline-offset-8':'') %></li>
<li><%= link_to "Discussions", comments_path, class:(@ctrl == 'comments' ? 'link underline-offset-8':'') %></li>
<li><%= link_to "Documents", documents_index_path, class:(@ctrl == 'documents' ? 'link underline-offset-8':'') %></li>
<% if current_user == current_user.account.users.first %>
  <li><%= link_to "Tables", tables_path, class:(@ctrl == 'tables' ? 'link underline-offset-8':'') %></li>
  <li><%= link_to "Tableau de bord", dashboard_path, class:(@ctrl == 'pages' ? 'link underline-offset-8':'') %></li>
<% end %>