<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @participant.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @participant.user %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
