<div id="<%= dom_id user %>">
  <div id="connexion-container">
    <div id="connexion" class="mb-6">
      <div class="w-32 my-3 mx-auto mask mask-square">
        <img src="https://placeimg.com/400/225/people" alt="Shoes" />
      </div>
      <h1 class="text-4xl font-bold text-center"><%= @user.name %> - <%= @user.username %></h1>
      <hr class="my-4">

      <div class="text-center">
        <p>
          <b>Email :</b>
          <%= @user.email %>
        </p>

        <p>
          <strong>Créé le:</strong>
          <%= l(@user.created_at) %>
        </p>

        <hr class="my-4">

        <div class="flex mt-6">
          <hr class="my-3">
          <%= link_to 'Modifier', edit_user_path(@user), class: "btn btn-sm mr-3" %>
          <%= button_to 'DÉCONNEXION', destroy_user_session_path, method: :delete, form_class:'btn btn-sm btn-error' %>
        </div>
      </div>
    </div>
  </div>
</div>