<div id="<%= dom_id user %>">
  <div id="connexion-container">
    <div id="connexion" class="mb-6">
      <% if @user.avatar.attached? %>
        <div class="w-32 my-3 mx-auto mask mask-square">
          <%= image_tag @user.avatar %>
        </div>
      <% end %>
      <h1 class="text-4xl font-bold text-center"><%= @user.name %> - <%= @user.username %></h1>
      <hr class="my-4">

      <div class="text-center">
        <p>
          <strong>Rôle :</strong>
          <%= @user.role.humanize %>
        </p>
        <p>
          <strong>Email :</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Créé le:</strong>
          <%= l(@user.created_at) %>
        </p>

        <hr class="my-4">

        <div class="flex justify-center mt-6">
          <hr class="my-3">
          <%= link_to 'Modifier', edit_user_path(@user), class: "rounded-lg py-3 px-5 border border-black inline-block font-medium cursor-pointer mr-3" %>
          <%= button_to 'DÉCONNEXION', destroy_user_session_path, method: :delete, form_class:'rounded-lg py-3 px-5 border border-black inline-block font-medium cursor-pointer', 'data-turbo': false %>
        </div>
      </div>
    </div>
  </div>
</div>