<h1>Participants</h1>

<table>
  <thead>
    <tr style="color:lightgray;">
      <th></th>
      <th>Nom</th>
      <th>Nom de connexion</th>
      <th>Courriel</th>
      <th>Participe à</th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <% user = participant.user %>
      <tr>
        <td><%# image_tag user.avatar.url(:medium), class:"avatar" %></td>
        <td style="width:100px;font-weight:bold;"><%= link_to simple_format(user.name), logs_path(user:user.id) %></td>
        <td style="width:120px;"><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <% user.projects.order(:name).each do |p| %>
            <% if p.color %>
              <span style="background-color:<%= p.color %>;padding-left:5px;margin-left:5px;margin-right:5px;"> </span>
            <% else %>
              |
            <% end %>
            <% if p.participants.where(user_id:current_user.id).any? %>
              <%= link_to p.name, project_path(p) %>
            <% else %>
              <%= p.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
