<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @user %>

  </div>
</div>

<h2>Espace de travail</h2>
<p>
  <strong>Nom: </strong>
  <%= @user.account.name %>
</p>
<p>
  <strong>Nom du site: </strong>
  <%= @user.account.sitename %>
</p>
<p>
  <strong>hostname: </strong>
  <%= @user.account.hostname %>
</p>

<p class="mt-4">
  <%= link_to "Modifier", edit_account_path(@user.account), class:"link" %> | 
  <%= link_to "Participants", users_path, class:"link" %> |
  <%= link_to "Modèles", templates_path, class:"link" %> |
  <%= link_to "Audit Trail", audits_index_path, class:"link" %>
  <% if current_user.admin? %>
    | <%= link_to "Mail Logs", mail_logs_path, class:"link" %>
    | <%= link_to "Envoyer mails tâches à notifier", todos_todo_notifier_path, class:"link" %> 
  <% end %>
</p>


<% if @user.participants.any? %>
  <hr class="style-two my-8">

  <h2>Vos abonnements</h2>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr style="text-align:left;color:lightgray;">
          <th />
          <th>Nom du projet</th>
          <th>Recevoir les notification par mail ?</th>
          <th>Recevoir la Daily Newsletter?</th>
          <th>Recevoir la Weekly Newsletter?</th>
          <th />
        </tr>
      </thead>  
      <tbody>
        <%= render partial:'participants/participant', collection:@user.participants %>
      <tfoot>
        <tr><th colspan=6></th></tr>
      </tfoot>
    </table>
  </div>
  <br>
<% end %>

<% if @user.logs.any? %>
  <hr class="style-two mb-8">

  <h2>Votre activité</h2>
  <%= render partial:'logs/log', collection:@user.logs, :day => 0 %>
  <br>
<% end %>