<div class="flex min-h-screen flex-col justify-center aligns-items-center items-center mb-12">
  <div id="connexion">
    <h1 class="text-4xl font-bold text-center">Nouveau mot de passe</h1>
    <hr class="my-4">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "Nouveau mot de passe" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"input input-bordered w-full", required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmation nouveau mot de passe" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input input-bordered w-full", required: true %>
      </div>

      <div class="actions" data-turbo="false">
        <%= f.submit "Modifier mon mot de passe", class:"btn btn-outline w-full mb-3" %>
      </div>
    <% end %>
  </div>
</div>