<div class="flex min-h-screen flex-col justify-center aligns-items-center items-center mb-12">
  <div id="connexion">
    <h1 class="text-4xl font-bold text-center">Mot de passe oublié</h1>
    <hr class="my-4">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input input-bordered w-full mb-4", required: true %>
      </div>

      <div class="actions" data-turbo="false">
        <%= f.submit "Réinitialiser mon mot de passe", class:"btn btn-primary btn-outline w-full mb-3" %>
      </div>
    <% end %>

    <%= link_to "Retour", new_user_session_path %>
  </div>
</div>