<div class="flex flex-col lg:flex-row flex-wrap gap-4 lg:gap-24 mb-24">
  <div class="stats stats-vertical shadow text-left">
    <div class="stat">
      <div class="stat-title">Projets</div>
      <div class="stat-value"><%= @projects.count %></div>
      <div class="stat-desc"><%= l @projects_start || Date.today %> - <%= l @projects_end || Date.today %></div>
    </div>
    
    <div class="stat">
      <div class="stat-title">Tâches</div>
      <% if @todos %>
        <div class="stat-value"><%= @todos.count %></div>
        <div class="stat-desc text-primary"><%= @todos.count - @todos.done.count %> tâche.s restantes</div>
      <% end %>
    </div>
    
    <div class="stat">
      <% if @todos %>
        <% if @last_commit_picture %>
          <div class="stat-figure text-accent">
            <div class="avatar">
              <div class="w-16 rounded-full">
                <%= image_tag @last_commit_picture %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="stat-value">
          <% unless @todos.count.zero? %>
            <%= (@todos.done.count * 100) / @todos.count %>%
          <% end %>
        </div>
        <div class="stat-title">Réalisées</div>
        <div class="stat-desc text-red-500"><%= @todos_overdue %> tâche.s en retard</div>
      <% end %>
    </div>
    
  </div>
  <div class="flex-1">
    <canvas id="chartLine"></canvas>
  </div>
</div>


<h2 class="mb-6">Répartition charge</h2>
<div class="overflow-x-auto">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <td>Projet</td>
        <th colspan="2">Participant</th>
        <th>Charge estimée</th>
        <th>Charge estimée consommée</th>
        <th>Charge réelle</th>
      </tr>
    </thead>
    <tbody>
      <% if @account_projects %>
        <% @account_projects.each do |project| %>
          <tr class="hover">
            <td><p class="text-lg font-bold pl-2" style="border-left: .3rem solid <%= project.color %>"><%= project.name %></p></td>
            <td colspan=2></td>
            <td><%= number_with_precision(project.todos.sum(:charge_est), precision: 2) %> j</td>
            <td><%= number_with_precision(project.todos.done.sum(:charge_est),precision: 2) %> j</td>
            <td><%= number_with_precision(project.todos.sum(:charge_reelle), precision: 2) %> j</td>
          </tr>
          <% project.participants.each do |participant| %>
            <% todos = participant.user.todos.where(todolist_id: Todolist.where(project_id: project.id).pluck(:id)) %>
            <tr class="hover">
              <td></td>
              <td><%= image_tag participant.user.avatar, class:'mini_avatar' if participant.user.avatar.attached? %></td>
              <td><%= participant.user.username.humanize %></td>
              <td><%= number_with_precision(todos.sum(:charge_est), precision: 2) %> j</td>
              <td><%= number_with_precision(todos.done.sum(:charge_est), precision: 2) %> j</td>
              <td><%= number_with_precision(todos.sum(:charge_reelle), precision: 2) %> j</td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <th colspan=6></th>
    </tfoot>
  </table>
</div>
<% if @account_projects %>
  <%= link_to "Export xls", dashboard_path(format: :xls), class: "btn btn-accent btn-sm" %>
<% end %>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart line -->
<script>
  const data = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "Tâches réalisées",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  const configLineChart = {
    type: "line",
    data,
    options: {},
  };

  var chartLine = new Chart(
    document.getElementById("chartLine"),
    configLineChart
  );
</script>