<div class="w-full text-center my-24">
  <div class="stats shadow text-left">
    <div class="stat">
      <div class="stat-title">Projets</div>
      <div class="stat-value"><%= @projects.count %></div>
      <div class="stat-desc">Jan 1st - Feb 1st</div>
    </div>
    
    <div class="stat">
      <div class="stat-title">Tâches</div>
      <div class="stat-value"><%= @todos.count %></div>
      <div class="stat-desc">↗︎ 400 (22%)</div>
    </div>
    
    <div class="stat">
      <div class="stat-figure text-secondary">
        <div class="avatar online">
          <div class="w-16 rounded-full">
            <img src="https://placeimg.com/128/128/people" />
          </div>
        </div>
      </div>
      <div class="stat-value"><%= (@todos.done.count * 100) / @todos.count %>%</div>
      <div class="stat-title">Réalisées</div>
      <div class="stat-desc text-primary"><%= @todos.count - @todos.done.count %> tâches restantes</div>
    </div>
    
  </div>
</div>

<canvas class="mb-12" id="chartLine"></canvas>


<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart line -->
<script>
  const data = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "Tâches réalisées",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  const configLineChart = {
    type: "line",
    data,
    options: {},
  };

  var chartLine = new Chart(
    document.getElementById("chartLine"),
    configLineChart
  );
</script>