<% if @day != log.created_at.day %>
    <tr><td /><td /><td /></tr>
    <tr><td /><td /><td /></tr>
<% end %>    
<tr>
  <% if @day != log.created_at.day %>
    <% @user_id = 0 %>
      <% @day = log.created_at.day %>
      <% month_name = I18n.t("date.month_names")[log.created_at.month] %>
      <tr style="margin-top:50px;"></tr>
      <td>
        <b><%= "#{@day} #{month_name}" %></b>
        <%= "Aujourd'hui" if log.created_at.to_date == Date.today %>
      </td>
  <% else %>
      <td /> 
  <% end %>
  <td>
    <% if @user_id != log.user_id %>
      <% @user_id = log.user_id %>
        <%# <%= image_tag(log.user.avatar.url(:thumb), size:'30x30', alt:'', class:"mini_avatar") %>
      <% end %>
  </td>
  <td><span style="background-color:<%= log.project.color %>;padding-left:5px;margin-right:5px;"></span></td>
  <td>
      <% if log.user_id == session[:user_id] %>
        <b>Vous</b> avez  
      <% else %>
        <b><%= log.user.name %></b> a
      <% end %>
      <%= raw log.description  %>  
  </td>
  <td>
    <div style="color:lightgrey">
      <%= log.created_at.strftime("%H:%M") %>
    </div>
  </td>
</tr>
