<h1 class="mb-6">Documents</h1>

<table class="table table-zebra">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Projet</th>
      <th>MÀJ</th>
    </tr>
  </thead>

  <tbody>

    <% @documents.each do |doc| %>
      <tr>
        <td>
          <%= link_to doc.filename.base, doc, target: "_blank" %>
        </td>
        <td>
          <%= doc.content_type %>
        </td>
        <td>
          <%= link_to "#{doc.record.todolist.project.name}:#{doc.record.todolist.name}:#{doc.record.name}", doc.record.todolist %>
        </td>
        <td>
          <%= time_ago_in_words doc.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4"></th>
    </tr>
  </tfoot>
</table>

<div style="display:block;clear: both;">
  <br>
  <hr class="style-two">

  <% if @logs.any? %>
    <h3>Activité</h3>
    <table id="logs">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial:'documents/document', collection:@logs, as: :log, day:0, user_id:0 %>  
      </tbody>
    </table>
  <% end %>
  <br>
</div>