<div class="w-full">

  <div class="mb-2">
    <div class="flex justify-between">
      <h1 class="text-3xl font-bold">
        <i class="fas fa-search text-primary"></i> Audit trail
      </h1>
    </div>
    <hr class="mt-3 mb-6">
  </div>

  <%= form_with(url: audits_index_path, method: :get) do | f | %>
    <div class="flex flex-wrap lg:flex-nowrap">
      <div class="mr-4">
        <%= label_tag :date, "Date", class: "label" %>
        <%= f.date_field :date, 
                          value: params[:date], 
                          class: 'input input-sm select-bordered w-full max-w-xs',
                          onchange: "this.form.submit()" %>
      </div>
      <div class="mr-4">
        <%= label_tag :type, "Type", class: "label" %>
        <%= f.select :type, 
                    options_for_select(@types, params[:type]),
                    { include_blank: true, label: "Type" }, 
                    class: 'input select-sm select-bordered w-full max-w-xs',
                    onchange: "this.form.submit()" %>
      </div>
      <div class="mr-4">
        <%= label_tag :audit_action, "Action", class: "label" %>
        <%= f.select :audit_action, 
                      options_for_select(@actions, params[:audit_action]),
                      { include_blank: true, label: "Action" }, 
                      class: 'input select-sm select-bordered w-full max-w-xs',
                      onchange: "this.form.submit()" %>
      </div>
    </div>
  <% end %>
  <br>

  <div class="my-4 overflow-x-auto">
    <table class="table table-zebra w-full table-compact">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Il y a</th>
          <th>Utilisateur</th>
          <th>Type</th>
          <th>Id</th>
          <th>Action</th>
          <th>Changements</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'audit', collection: @audits.includes(:user) %>
      </tbody>

      <tfoot>
        <tr><th colspan=8></th></tr>
      </tfoot>
    </table>
  </div>

  <%= page_entries_info @audits, entry_name: 'Changement' %>
  <%= paginate @audits %>
</div>