<h2 class="flex items-center mb-6">
  <span class="pl-2" style="border-left: 7px solid <%= @project.color %>"><%= @project.name %></span>
</h2>
<h2>Participants actuels</h2>
<table>
  <tr>
    <% @project.participants.each do |participant| %>
      <td>
        <%# image_tag(participant.user.avatar.url(:thumb), size:'25x25', alt:'') %>
        <%= participant.user.name %>
        <%= "(Client)" if participant.client %>
      </td>
    <% end %>
  </tr>
</table>

<br>
<h2>Inviter un nouveau participant à rejoindre le projet '<%= @project.name %>'</h2>

Veuillez saisir ci-dessous son adresse email afin de lui envoyer une invitation
<br><br>

<%= form_tag do %>
  <%= hidden_field_tag 'id', params[:id] %>
  <%= label_tag "Courriel:" %>   
  <%= email_field_tag :courriel, {}, class:"input input-bordered", required: true %>
  <%= submit_tag "Envoyer", class:"btn btn-ghost btn-active" %><br>
  <div class="mt-4">
    <%= check_box_tag :client, {}, {}, class:"checkbox" %>
    <%= label_tag :client, "C'est mon client" %>
    <small><i>(Il ne pourra pas se connecter à Camino mais sera notifié dès qu'une tâche est terminée)</i></small></p>
  </div>
<% end %>