<h1 class="flex items-center mb-6">
  <span class="pl-2" style="border-left: 7px solid <%= @project.color %>"><%= @project.name %></span>
</h1>
<h2>Participants actuels</h2>
<div class="overflow-x-auto">
  <table>
    <tr>
      <% @project.participants.each do |participant| %>
        <td>
          <%= image_tag(participant.user.avatar, alt:'', class:'camino-avatar inline') if participant.user.avatar.attached? %>
        </td>
        <td>
          <%= participant.user.name %>
        </td>
        <td>
        </td>
      <% end %>
    </tr>
  </table>
</div>

<h2 class="mt-12 mb-4"><%= page_title! "Ajouter un participant au projet #{@project.name.humanize}" %></h2>

<%= form_tag do %>
  <%= hidden_field_tag :id, @project.slug %>
  <%= select_tag :user_id, 
                  options_from_collection_for_select(@users, "id", "name" ),
                  include_blank: true,
                  class: 'select select-bordered' %>
  <%= submit_tag "Ajouter", class:"btn btn-primary btn-outline mb-6" %>
<% end %>

<%= link_to 'Voir tous les participants de l\'espace de travail', users_path, class: 'link' %>