<div class="mb-8 pl-2" style="border-left: 7px solid <%= @project.color %>">
  <div class="flex items-center">
    <h2><%= @project.name %></h2>
    <%= link_to "Modifier", edit_project_path(@project), class: 'ml-3 text-slate-300' %> 
  </div>
  <% unless @project.description.blank? %>
    <i><%= @project.description %></i>
  <% end %>
</div>

<% unless @project.pct_avancee.zero? %>
  Avancée : <progress class="progress progress-success !w-56" value=<%= @project.pct_avancee %> max="100"></progress>
  <small>(<%= @project.pct_avancee %>%)</small>
<% end %>

<% if @project.workflow? and @project.current_todolist %>
  | Phase en cours : <%= @project.current_todolist.name %>
<% end %>

<% if @project.duedate %>
  | Echéance : <b><%= l(@project.duedate) %></b>
<% end %>

<% if @project.tag_list.any? %>
  | Tags : <%= @project.tag_list_on(:tags) %>
<% end %>

<div class="mt-2">
  <% if @project.todolists.any? %>
    <% if @project.todos.any? %>
      Afficher :
      <%= link_to_if params[:done], "Tout", project_path(@project), class: 'link' %> /
      <%= link_to_unless params[:done], "Reste à faire", project_path(@project, done:false, search: params[:search]), class: 'link' %>
      <br>
    <% end %>
  <% else %>
    <small><i>Il n'y a aucune liste pour l'instant. Cliquez sur + pour saisir le nom de votre première liste.<br>
    Ces listes de choses à faire ou phases séquentielles servent à découper un projet en tranches. (ex: Début/Milieu/Fin ou Prospection/Evaluation/Devis/Commande/Livraison/Facture).</i></small>
  <% end %>
</div>


<% unless @project.memo.blank? %>
  &nbsp;&nbsp;<i><%= @project.memo %></i>
<% end %>
<br>

<div class="overflow-x-auto">
  <table class="table table-normal">
    <thead>
      <th><%= @project.workflow? ? 'Phases' : 'Todo List' %></th>
      <th>Tâches <%= params[:done] ? "(à faire)" : "(toutes)" %></th>
      <th>Réalisation</th>
      <th>Echéance</th>
      <th>MÀJ</th>
      <th>Écart</th>
    </thead>
    <tbody>
      <%= render partial: 'todolists/todolist', collection: @todolists %>
    </tbody>
    <tfoot>
      <tr>
        <th>
          <% if current_user.admin? %>
            <%= link_to new_todolist_path(id: @project.slug), title: 'Ajouter une liste/phase' do %>
              <div class="badge badge-outline rounded badge-lg pb-0.5 shadow">+</div>
            <% end %>
          <% end %>
        </th>
        <td colspan=6></td>
      </tr>
    </tfoot>  
  </table>
</div>


<% if @logs.any? %>
  <br>
  <hr class="style-two">
  <h2 class="mt-4">
    Activité
  </h2>
  <table id="logs">
    <%= render partial:'logs/log', collection: @logs, :day => 0 %>
  </table>
  <br>
  <% if @logs.count > 5 %>
    <small>
      <i>Liste des 5 derniers changements <%= link_to "Afficher tout", logs_path(project_id:@project.id), class:"link" %></i>
    </small>
    <br>
  <% end %>
<% end %>

<% if @comments.any? %>
  <br>
  <hr class="style-two">
  <h2 class="mt-4">
    Discussions
  </h2>
  <table id="logs">
    <%= render partial:'comments/commentfull', collection:@comments, as: :comment, day:0  %>
  </table>
  <br>
  <% if @project.comments.count > 5 %>   
    <small><i>Liste des 5 derniers commentaires <%= link_to "Afficher tout", comments_path(project_id:@project.id) %></i></small>
    <br>
  <% end %>
<% end %>
