<%= month_calendar day_names: "date.day_names" do |date| %>

  <div id="date">
    <%= date.day %>
  </div>
  <% @projects.where(duedate:date).each do |project| %>
      <div class="shadow mt-2 p-2" style="border-left: .6rem solid <%= project.color %>">
        <%= link_to project.name.upcase, project, class: 'font-bold' %>
      </div>
  <% end %>

  <% @todos.undone.where(duedate:date).each do |todo| %>
      <div class="shadow mt-2 p-2" style="border-left: .3rem solid <%= todo.project.color %>">
        <%= link_to "#{todo.project.name}:#{todo.todolist.name}: #{todo.name}", edit_todo_path(todo) %>
      </div>
  <% end %>

<% end %>

<h2 class="mb-6">Échéances à venir</h2>
<div class="flex flex-col mb-6">
  <% @projects.where("duedate >= ?", Date.today()).each do |project| %>
    <div>
      <%= l project.duedate %>
      <span class="pl-1 ml-2" style="border-left: .3rem solid <%= project.color %>">
        <%= project.name %>
      </span>
    </div>
  <% end %>
</div>