<div class="mobile">
  <br>
  <%= month_calendar day_names: "date.day_names", header: {class:"phone-calendar-header"}, 
  	table: {class:"phone-calendar"}, td: {class:"phone-calendar-day"} do |date| %>

    <%= date.day %>

    <% @projects.where(duedate:date).each do |project| %>
        <span style="background-color:<%= project.color %>;padding-left:15px;margin-right:10px;"></span>
        <%= link_to project.name, project %>
    <% end %>

    <% @todos.undone.where(duedate:date).each do |todo| %>
        <span style="background-color:<%= todo.project.color %>;padding-left:15px;margin-right:10px;"></span>
        <%= link_to "#{todo.project.name}:#{todo.todolist.name}: #{todo.name}", todo %>
    <% end %>

  <% end %>
</div>
