<div class="simple-calendar">
  <h2 class="flex justify-between items-center gap-4 mb-4">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-sm btn-outline" %>
    <%= t('date.month_names')[start_date.month].humanize %> <%= start_date.year %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-sm btn-outline" %>
  </h2>

  <%= form_tag agenda_index_path, method: :get, class:'mb-2' do %>
    Vue :
    <%= radio_button_tag :calendar_type, 'month_calendar', params[:calendar_type] == 'month_calendar', { onchange: "this.form.submit();", class: 'radio radio-sm' } %> Mois
    <%= radio_button_tag :calendar_type, 'week_calendar', params[:calendar_type] == 'week_calendar', { onchange: "this.form.submit();", class: 'radio radio-sm' } %> Semaine
  <% end %>

  <div class="overflow-x-auto">
    <table class="camino-table w-full">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <td class="text-lg"><%= t('date.day_names')[day.wday] %></td>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
