<%= form_tag agenda_index_path, method: :get, class: 'mb-4' do %>
  <div class="flex flex-wrap items-center gap-4">
    <div>
      <%= label_tag :project, 'Projet :', class:'font-normal' %>
      <%= select_tag :project, 
                              options_for_select(@user_projects, params[:project]), 
                              include_blank: true,
                              class:'select select-sm select-bordered mr-8 ml-2',
                              onchange: 'this.form.submit()' %>
    </div>
    

    <% if current_user.admin? %>
      <div>
        <%= label_tag :participant, 'Utilisateur :', class:'font-normal' %>
        <%= select_tag :participant, 
                                options_for_select(@participants, params[:participant]), 
                                include_blank: true,
                                class:'select select-sm select-bordered ml-2',
                                onchange: 'this.form.submit()' %>
      </div>
    <% end %>
  </div>
<% end %>