<%= form_tag agenda_index_path, method: :get, class: 'mb-4' do %>
  <div class="flex items-center">
      <%= label_tag :project, 'Projet :' %>
      <%= select_tag :project, 
                              options_for_select(@user_projects, params[:project]), 
                              include_blank: true,
                              class:'select select-bordered mr-8 ml-2',
                              onchange: 'this.form.submit()' %>
    
    

    <% if current_user.admin? %>
      <%= label_tag :participant, 'Utilisateur :' %>
      <%= select_tag :participant, 
                              options_for_select(@participants, params[:participant]), 
                              include_blank: true,
                              class:'select select-bordered ml-2',
                              onchange: 'this.form.submit()' %>

    <% end %>
  </div>
<% end %>