<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :name, "Nom" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit @table.new_record? ? "Ajouter" : "Modifier", class:"btn btn-success" %>
  </div>
<% end %>
