<h1 class="mb-6"><%= @table.name.humanize %></h1>

<%= form_tag do %>

  <%= hidden_field_tag :table_id, @table.slug %>

  <% if @todo %>
    <%= hidden_field_tag :todo_id, @todo.slug %>
  <% end %>

  <% @table.fields.each do |field| %>
      <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
      <% value = field.values.find_by(record_index:@record_index) %> 
      <% field_value = value.data if value %>

      <div class="field">
          <%= label_tag field.name %><br>

          <% if field.datatype == "texte" %>  
            <%= text_field_tag field_name, field_value %>

          <% elsif field.datatype == "nombre" %>
            <%= number_field_tag field_name, field_value %>

          <% elsif field.datatype == "euros" %>
            <%= number_field_tag field_name, field_value, step: 'any' %> €

          <% elsif field.datatype == "date" %>
            <%= text_field_tag field_name, field_value, type: "date" %>

          <% elsif field.datatype == "oui_non?" %>
            <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui') %> Oui
            <%= radio_button_tag field_name, 'Non', (field_value == 'Non') %> Non

          <% elsif field.datatype == "liste" %>
            <%= select_tag field_name, options_for_select(field.items.split(","), field_value), include_blank: true, class: 'select select-bordered w-48' %>
          
          <% end %>
      </div>
  <% end %>  
  <br>

  <div class="actions">
    <%= submit_tag "Enregistrer", class: 'btn btn-active btn-ghost' %>
  </div>

  <% if @todo %>
    <%= link_to 'Retour', edit_todo_path(@todo) %>
  <% else %>
    <%= link_to 'Retour', @table %>
  <% end %>

<% end %>



