<h1 class="mb-6">
  Tables
</h1>

<% unless @tables.any? %>
  <i>
    Créez une table (base de données) pour collecter des informations complémentaires aux projets.
    <br>
    Ces données pourront être ajoutées lors de la clôture d'une opération.
  </i> 
  <br><br>
<% else %>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-normal">
      <thead>
        <tr>
          <td>Nom</td>
          <th>Projets associés</th>
          <th>Enregistrements</th>
          <th>MÀJ</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tables.each do |table| %>
          <tr class="hover">
            <td>
              <strong>
                <%= link_to table.name.humanize, table, class: 'text-primary text-lg' %>
              </strong>
            </td>
            <td>
              <div class="flex items-center gap-4">
                <div>
                  <% table.projects.order(:name).each do |p| %>
                    <p class="pl-1 mr-2 mb-2" style="border-left: .3rem solid <%= p.color %>">
                      <% if p.participants.where(user_id:current_user.id).any? %>
                        <%= link_to p.name, project_path(p) %>
                      <% else %>
                        <%= p.name %>
                      <% end %>
                    </p>
                  <% end %>
                </div>
                <%= link_to link_path(id: table.slug), title:'Lier cette table à un projet' do %>
                  <div class="badge badge-accent badge-outline rounded badge-lg pb-0.5 shadow">+</div>
                <% end %>
              </div>
            </td>
            <td><%= table.size %></td>
            <td><%= "Il y a #{time_ago_in_words(table.values.maximum(:updated_at))}" if table.values.any? %>
            
            <td>
              <% if table.values.any? %>
                <%= link_to image_tag('excel_logo.png', size:'25x25'), 
                                table_path(table, format:'xls'), 
                                title:'Export Excel' %>
              <% end %>
            </td>
            <td><%= link_to "Modifier", show_attrs_path(id: table), title:"Modifier les colonnes de la table" %></td>
            <td><%= button_to '[X]', table, method: :delete, form: { data: {'turbo-confirm': 'Are you sure?' } } %></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="8"></td>
        </tr>
      </tfoot>

    </table>
  </div>
<% end %>

<%= link_to 'Créer une nouvelle Table', new_table_path, class:'btn btn-primary btn-outline' %>
