<h1 class="mb-6">
  Tables
</h1>

<% unless @tables.any? %>
  <i><small>Créez une table de données pour collecter des informations complémentaires aux projets. Ces données pourront être saisie à tout moment où lors de la clôture d'une opération.</small></i> 
  <br><br>
<% end %>

<% if @tables.any? %>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Utilisée par les projets</th>
          <th>Nbr enregistrements</th>
          <th>Dernière mise à jour</th>
          <th>Attributs</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td /><td /><td /><td /><td /><td /><td /><td />
        </tr>
      </tfoot>

      <tbody>
        <% @tables.each do |table| %>
          <tr class="hover">
            <td><b><%= link_to table.name, table %></b></td>
            <td>
                <% table.projects.order(:name).each do |p| %>
                  <% if p.color %>
                    <span style="background-color:<%= p.color %>;padding-left:5px;margin-left:5px;margin-right:5px;"> </span>
                  <% else %>
                    |
                  <% end %>
                  <% if p.participants.where(user_id:current_user.id).any? %>
                    <%= link_to p.name, project_path(p) %>
                  <% else %>
                    <%= p.name %>
                  <% end %>
                <% end %>
            </td>
            <td><%= table.size %></td>
            <td><%= "Il y a #{time_ago_in_words(table.values.maximum(:updated_at))}" if table.values.any? %>
            <td>
              <%= link_to table.fields.count, 
                          table_path(table, attrs:1), 
                          title:"#{table.fields.any? ? "Modifier les" : "Ajouter des"} attributs: #{table.fields.pluck(:name).join(", ")}",
                          class: 'link' %>
            </td>
            <td>
                <%= link_to_if table.values.any?, 
                                image_tag('excel_logo.png', size:'25x25'), 
                                table_path(table, format:'xls'), 
                                title:'Export Excel' %>
            </td>
            <td><%= link_to image_tag("modif.png"), table_path(table, attrs:1), title:"Modifier les attributs de la table" %></td>
            <td><%= link_to '[X]', table, method: :delete, form: { data: {'turbo-confirm': 'Are you sure?' } } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
<% end %>

<%= link_to 'Créer une nouvelle Table', new_table_path, class:'btn btn-active btn-ghost' %>
