<h1>
	<%= @table.name %>
	<%= link_to image_tag("modif.png"), show_attrs_path(id:@table), title:"Modifier les attributs" %>
</h1>

<% if @table.fields.any? %>
	<% if @table.values.any? %>
		<span style="text-align:right;display:block;">
			<%= link_to image_tag('excel_logo.png', size:'25x25'), url_for(params.permit.merge(format:'xls')), title:'Export Excel' %>
		</span>

		<table class="table table-normal">
			<thead>
				<tr>
					<th>#</th>
					<% @table.fields.each do | field | %>
						<th><%= field.name %></th>
					<% end %>
					<th>Opération</th>
					<th>Créé le</th>
					<th>Modifié le</th>
					<th>Par</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% count = 0 %>	
				<% @table.record_index.times do | i | %>
					<% index = i + 1 %>	
					<% if @values.records_at(index).any? %>
						<% count += 1 %> 
						<% record = @values.records_at(index).first %>
						<tr>
							<td style="color:lightgray;"><%= index %></td>
							<% @table.fields.each do | field | %>
								<td>
									<%= field.values.records_at(index).first.data if field.values.records_at(index).first %>
								</td>
							<% end %>
							<td>
								<% if record.todo %>
									<span style="background-color:<%= record.todo.project.color %>;padding-left:3px;margin-right:3px;color:lightgray;"></span>
									<%= link_to record.todo.fullname, edit_todo_path(record.todo) %>
								<% end %>
							</td>
							<td style="color:lightgray;"><%= l(record.created_at, format: :compact) %></td>
							<td style="color:lightgray;"><%= l(record.updated_at, format: :compact) %></td>
							<td style="color:lightgray;">
								<%# image_tag(record.user.avatar.url(:thumb), alt:'', class:"mini_avatar") if record.user %>
								<%= record.user.username if record.user %></td>
							<td><%= link_to image_tag("modif.png"), fill_url(@table.id, record_index:index) %></td>
							<td><%= link_to "[X]", delete_record_url(@table.id, record_index:index), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td />
					<% @table.fields.count.times do %>
						<td />
					<% end %>
					<td /><td /><td /><td /><td /><td />
				</tr>
			</tfoot>
		</table>
		<%= count %> <%= @table.name %><%= @table.size > 1 ? "s":"" %> sur <%= @table.size %> au total
		<br>
	<% end %>
	<br>
	<%
=begin%>
 <%= link_to "Ajouter un(e) #{@table.name}", fill_url(@table.id), class:'btn btn-active btn-ghost' %> 
<%
=end%>
<% else %>
	<% unless params[:attrs] %>
		Cette table n'a pas encore d'attributs... 
		<%= link_to "Ajouter des attributs", show_attrs_path(id:@table), class: 'link' %>
	<% end %>
<% end %>
<br><br>
