<h1 class="flex items-center mb-6">
  <%= @table.name.humanize %>
  <%= link_to "Modifier", show_attrs_path(id:@table), title:"Modifier les attributs" %>
</h1>

<% if @table.fields.any? %>
  <% if @table.values.any? %>

    <table class="table table-normal">
      <thead>
        <tr>
          <th>#</th>
          <% @table.fields.each do | field | %>
            <th><%= field.name %></th>
          <% end %>
          <th>Opération</th>
          <th>Créé le</th>
          <th>Modifié le</th>
          <th>Par</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>  
        <% @table.record_index.times do | i | %>
          <% index = i + 1 %>  
          <% if @values.records_at(index).any? %>
            <% count += 1 %> 
            <% record = @values.records_at(index).first %>
            <tr>
              <td><%= index %></td>
              <% @table.fields.each do | field | %>
                <td>
                  <%= field.values.records_at(index).first.data if field.values.records_at(index).first %>
                </td>
              <% end %>
              <td>
                <% if record.todo %>
                  <span class="pl-1 ml-2" style="border-left: .3rem solid <%= record.todo.project.color %>">
                    <%= link_to record.todo.fullname, edit_todo_path(record.todo) %>
                  </span>
                <% end %>
              </td>
              <td><%= l(record.created_at, format: :compact) %></td>
              <td><%= l(record.updated_at, format: :compact) %></td>
              <td>
                <%= image_tag(record.user.avatar, alt:'', class:"mini_avatar inline") if record.user.avatar.attached? %>
                <%= record.user.username if record.user %></td>
              <td><%= link_to "Modifier", fill_url(@table.id, record_index:index) %></td>
              <td><%= button_to "[X]", delete_record_url(@table.id, record_index:index), method: :delete, form: { data: {'turbo-confirm': 'Are you sure?' } } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td />
          <% @table.fields.count.times do %>
            <td />
          <% end %>
          <td /><td /><td /><td /><td /><td />
        </tr>
      </tfoot>
    </table>
    <%= count %> <%= @table.name %><%= @table.size > 1 ? "s":"" %> sur <%= @table.size %> au total
    | <%= link_to "Exporter vers Excel", url_for(params.permit.merge(format:'xls')) %>
  <% else %>
    Il n'y a aucune valeur à afficher. Pour afficher de nouvelles données, modifiez une tâche et utilisez le lien "Ajouter des données...".
  <% end %>
  <br>
<% else %>
  <% unless params[:attrs] %>
    Cette table n'a pas encore d'attributs... 
    <%= link_to "Ajouter des attributs", show_attrs_path(id:@table), class: 'link' %>
  <% end %>
<% end %>
<br><br>
