<div class="flex flex-wrap">
  <div class="flex-1">
    <%= image_tag "undraw_qa_engineers_dg-5-p.svg", width: "90%", class:"mt-12" %>
    <h1 class="mt-12">Camino v2.0</h1>
    <h2 class="mb-6">Gérez vos projets en équipe et en mobilité</h2>
    <%= link_to "En savoir plus", about_path, class:"btn btn-secondary btn-outline" %>
  </div>
  <div class="flex-1 my-12 lg:mt-36">
    <div class="flex flex-col justify-center aligns-items-center items-center">
      <div class="p-16 border-2 rounded-xl">
        <h1 class="text-4xl font-bold text-center">Connexion</h1>
        <hr class="my-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input input-bordered w-full" %>
          </div>

          <div class="field">
            <%= f.label :password, "Mot de passe" %>
            <%= f.password_field :password, autocomplete: "current-password", class:"input input-bordered w-full" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, checked: true %>
              <%= f.label :remember_me, "Se souvenir de moi" %>
            </div>
          <% end %>

          <div class="actions" data-turbo="false">
            <%= f.submit "Se connecter", class:"btn btn-primary btn-outline w-full mb-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>