<tr class="hover">
  <td>
    <% if todolist.project.workflow? %>
      <i><%= todolist.row %>.</i>
    <% end %>
    <% if todolist.done? %>
      <del class="text-primary"><%= link_to todolist.name.humanize, todolist, class: 'text-lg' %></del>
    <% else %>
      <%= link_to todolist.name.humanize, todolist, class: 'text-lg text-primary', title:"Cliquez pour ouvrir cette liste et voir les choses à faire", data: { no_turbolink: true } %>
    <% end %>
  </th>
  <td>
    <% if params[:show_only_undone] == "yes" %>
      <% todolist.todos.undone.each_with_index do |todo, index| %>
        <%= link_to truncate(todo.name.humanize, length: 50), edit_todo_path(todo), class:'mr-2' %>
      <% end %>
    <% else %>
      <p><%= truncate(todolist.todos.pluck(:name).map(&:capitalize).join(' || '), length: 100) %></p>
    <% end %>
  </td>
  <td>
    <% if todolist.todos.any? %>
      <progress class="progress progress-success !w-24" value=<%= todolist.pct_avancee %> max="100"></progress>
      (<%= todolist.todos.done.count %>/<%= todolist.todos.count %>)
    <% end %>
    </td> 
  <td>
    <%= l(todolist.duedate) if todolist.duedate %>
  </td>
  <td>
    <p class="text-right"><%= number_with_precision(todolist.todos.sum(:charge_est), precision: 2) %> j</p>
  </td>
  <td>
    <p class="text-right"><%= number_with_precision(todolist.todos.sum(:charge_reelle), precision: 2) %> j</p>
  </td>

  <td>
    <%= l(todolist.todos.done.maximum(:updated_at).to_date) if todolist.todos.done.any? %>
  </td>
  <td>
    <% if todolist.duedate and todolist.todos.done.any? %>
      <% if todolist.duedate < todolist.todos.done.maximum(:updated_at) %>
        En retard de
      <% else %>
        En avance de
      <% end %>
      <%= distance_of_time_in_words(todolist.duedate, todolist.todos.done.maximum(:updated_at)) %>
    <% end %>
  </td>
</tr>
