<div class="mb-8 pl-2" style="border-left: 7px solid <%= @todolist.project.color %>">
  <div class="flex items-center">
    <h2 class="text-primary"><%= page_title! @todolist.project.name.humanize %>
      : <%= @todolist.name.humanize %>
    </h2>
  </div>
</div>
<h2>
  
</h2>

<%= render 'form' %>

<br>
<%= button_to "[X] Supprimer cette liste et son contenu", @todolist, method: :delete, form: { data: {'turbo-confirm': 'Etes-vous bien certain(e) ?' } }  %>
<br><br>

<%= link_to 'Retour', @todolist, class:'link' %>
