<h1>To-do list</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todolists.each do |todolist| %>
      <tr>
        <td><%= todolist.project.name %></td>
        <td><%= todolist.name %></td>
        <td><%= link_to 'Voir', todolist %></td>
        <td><%= link_to "Modifier", edit_todolist_path(todolist) %></td>
        <td><%= button_to '[X]', todolist, method: :delete, form: { data: {'turbo-confirm': 'Are you sure?' } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>