<h2 class="flex items-center mb-6">
	<span class="pl-2" style="border-left: 7px solid <%= @todolist.project.color %>">
		<%= link_to @todolist.project.name, @todolist.project, class:'link' %>
		: <%= @todolist.name %>
	</span>
	<%= link_to image_tag("modif.png"), edit_todolist_path(@todolist), title:'Modifier', class: 'ml-3' %> 
</h2>

<% if @todolist.todos.any? %>
	<table class="table">
		<thead>
			<tr>
				<th>Fait?</th>
				<th>Intitulé</th>
				<th>Assigné à</th>
				<th>Echéance</th>
				<th>Document</th>
				<th>Tags</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<%= render partial:'todos/todo', collection: @todolist.todos %>
	</table>
<% else %>
	<small><i>Commencez cette liste en ajoutant, ci-dessous, une première chose à faire</i></small><br><br>
<% end %>

<%= render partial:'todos/form' %>

<% if @todolist.logs.any? %>
	<br>
	<hr class="style-two">
	<h2 class="mt-6">
		Activité
	</h2>
	<table id="logs">
	  	<%= render partial:'logs/log', collection:@todolist.logs.limit(15) %>
	</table>
	<br>
	<% if @todolist.logs.count > 15 %> 	
		<small><i>Liste des 15 derniers changements.
			<%= link_to "Afficher tout", logs_path(project_id:@todolist.project.id) %>
		</i></small>
		<br>
	<% end %>
<% end %>


