<%= form_for(@todo, multipart: true) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="border:1px dotted lightgray;">
    <div class="field">
      <%= f.hidden_field :todolist_id %>
    </div>
    <div class="field">
        <%= f.check_box :done, title:'Cochée = Terminée' %>
        <span style="margin-left:12px">
          <%= f.text_field :name, size:40 %>
        </span>
        <%= f.label 'Assigné à:' %>
        <%= f.select :user_id, options_from_collection_for_select(@project.users, "id", "name", @todo.user_id), include_blank: true %>
        <%= f.label "notifier ?" %>
        <%= f.check_box :notify %>
    </div>
    <div style="margin-left:40px">
      <div class="field">
        <%= f.label 'Echéance:' %>
        <%= f.date_field :duedate, size:5, value:(@todo.duedate ? @todo.duedate : nil) %>

        <small>Cette échéance va s'ajouter au calendrier du participant assigné et un rappel lui sera envoyé à J-
          <%= f.select :notifydays, options_for_select((1..10), @todo.notifydays.to_s)  %>
        </small>
        <br><br>

        <%= f.label "Document:" %>
        <%= f.file_field :doc %>

        <%= f.label 'Tags:' %>
        <%= f.text_field :tag_list, value:@todo.tag_list.join(", ") %>
      </div>

      <% if @table %>
        <%= link_to "Ajouter des données dans #{@table.name}", fill_url(@table.id, todo_id:@todo), class: 'link' %>
        <br>
      <% end %>
      <br>

      <div class="actions">
        <%= f.submit @todo.new_record? ? "Ajouter" : "Enregistrer", class: 'btn btn-active btn-ghost' %> 
      </div>
    </div>
</div>

<% end %>
