<tr class="hover">
  <td>
    <% if policy(todo).update? %>
      <%= form_for todo do |f| %>
        <%= f.check_box :done, :onclick => "this.form.submit();", class: 'checkbox checkbox-primary', 'data-turbo': false %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% unless todo.done %>
      <%= link_to todo.name.humanize, edit_todo_path(todo), class: 'text-lg text-primary' %>
    <% else %>
      <del><b><%= todo.name.humanize %></b></del>
    <% end %>
  </td>
  <td><%= todo.user.name if todo.user %></td>
  <td><%= l(todo.duedate) if todo.duedate %></td>
  <td><p class="text-right"><%= number_with_precision(todo.charge_est, precision: 2) %> j</p></td>
  <td><p class="text-right"><%= number_with_precision(todo.charge_reelle, precision: 2) %> j</p></td>
  <td>
    <% if todo.document.attached? %>
      <%= link_to todo.document.filename, todo.document, target: "_blank" %>
    <% end %>
  </td>
  <td>
    <% if todo.tags.any? %>
        <% tag_cloud(todo.tags, ['badge badge-outline badge-sm', 'badge badge-outline', 'badge badge-outline badge-md', 'badge badge-outline badge-lg']) do |tag, css_class| %>
          <%= link_to(tag.name.humanize, todos_path(tag:tag.name), class: css_class) %>
        <% end %>
    <% end %>
  </td>
  <td>
    <% if policy(todo).destroy? %>
      <%= button_to '[X]', todo_path(todo), method: :delete, form: { data: {'turbo-confirm': 'Etes vous certain(e) de vouloir supprimer cette tâche ?' } } %>
    <% end %>
  </td>
</tr>
