<tr class="hover">
	<%= form_for(todo) do |f| %>
		<td><%= f.check_box :done, :onclick => "this.form.submit();", class: 'checkbox checkbox-sm' %></td>
	<% end %>
	<td>
		<% unless todo.done %>
			<b><%= todo.name %></b>
		<% else %>
			<del><b><%= todo.name %></b></del>
		<% end %>
	</td>
	<td><%= todo.user.name if todo.user %></td>
	<td><%= l(todo.duedate) if todo.duedate %></td>
	<td>
		<%= link_to(image_tag("document.png", title:'Cliquez pour ouvrir le document'), '/documents/' + todo.docfilename, { target:'_blank' }) if todo.docfilename %>
	</td>
	<td>
		<% if todo.tags.any? %>
		    <% tag_cloud(todo.tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
		      <%= link_to(tag.name, todos_path(tag:tag.name)) %>
		    <% end %>
		<% end %>
	</td>
	<td><%= link_to image_tag("modif.png"), edit_todo_path(todo), title:'Modifier' %></td>
	<td>
	<%= button_to '[X]', todo_path(todo), method: :delete, data: { confirm: 'Etes vous certain(e) de vouloir supprimer cette tâche ?' } %>
	</td>
</tr>
