<div class="mb-8 pl-2" style="border-left: 7px solid <%= @todo.project.color %>">
  <h2>
    <%= link_to @todo.project.name.humanize, @todo.project, class: 'text-primary' %> 
    : 
    <%= link_to @todo.todolist.name.humanize, @todo.todolist %>
  </h2>
</div>

<%= render 'form' %>

<h2 class="my-4">Commentaires</h2>

<%= render partial:'comments/form' %>

<%= render partial:'comments/comment', collection:@todo.comments %>