<h2>
  <span class="pl-1" style="border-left: .3rem solid <%= @todo.project.color %>">
    <%= link_to @todo.project.name, @todo.project %> : <%= link_to @todo.todolist.name, @todo.todolist %>
  </span>
</h2>

<h3>
  Modification de '<%= truncate(@todo.name, length:70, separator:' ') %>'
</h3>

<%= render 'form' %>

<h2 class="my-4">Commentaires</h2>
<%= turbo_stream_from :comments %>

<%= render partial:'comments/form' %>

<%= turbo_frame_tag :comments do %>
  <%= render partial:'comments/comment', collection:@todo.comments %>
<% end %>