<div class="mb-8 pl-2" style="border-left: 7px solid <%= @todo.project.color %>">
  <h2>
    <%= link_to @todo.project.name, @todo.project %> : <%= link_to @todo.todolist.name, @todo.todolist %>
  </h2>
  <i>Modification de '<%= truncate(@todo.name, length:70, separator:' ') %>'</i>
</div>

<%= render 'form' %>

<h2 class="my-4">Commentaires</h2>
<%= turbo_stream_from :comments %>

<%= render partial:'comments/form' %>

<%= turbo_frame_tag :comments do %>
  <%= render partial:'comments/comment', collection:@todo.comments %>
<% end %>