<h2>
  <span class="pl-1" style="border-left: .3rem solid <%= @todo.project.color %>">
    <%= link_to @todo.project.name, @todo.project %> : <%= link_to @todo.todolist.name, @todo.todolist %>
  </span>
</h2>

<h3>
  Modification de '<%= truncate(@todo.name, length:70, separator:' ') %>'
</h3>

<%= render 'form' %>

<br>
<h2 class="mb-4">Commentaires</h2>
<%= turbo_stream_from :comments %>

<%= render partial:'comments/form' %>

  <% if @todo.comments.any? %>
    <%= turbo_frame_tag :comments do %>
      <%= render partial:'comments/comment', collection:@todo.comments %>
    <% end %>
  <% else %>
    <small><i>Il n'y a pas encore de commentaires. Utilisez la case ci-dessous pour en publier un.</i></small>
    <br><br>
  <% end %>
