<div class="flex items-center justify-between my-8 px-2">
  <div class="flex flex-col">
    <h1 class="text-slate-800">Hello <%= current_user.username %></h1>
    <h2 class="text-slate-300 !text-base !font-normal"><%= current_user.todos.undone.count %> tâches restantes</h2>
  </div>
  <%= link_to current_user do %>
    <label tabindex="0" class="avatar online placeholder cursor-pointer ml-3">
    <% if current_user.avatar.attached? %>
      <div class="w-10 rounded-full !bg-slate-500">
        <%= image_tag(current_user.avatar, size:'25x25', alt:'', class:"mini_avatar") %>
      </div>
    <% else %>
      <div class="bg-primary-focus text-neutral-content rounded-full w-8">
        <span><%= current_user.username.first.humanize %></span>
      </div>
    <% end %>
    </label>
  <% end %>
</div>

<div class="flex justify-around">
  <%= link_to "À faire", todos_path(filter: "todo"), title:"Affiche les opérations non terminées qui vous sont assignées", class: "btn btn-ghost btn-sm !capitalize !font-normal #{params[:filter] == 'todo' ? 'btn-active': ''}" %>
  <%= link_to "Terminées", todos_path(filter: "done"), title:"Affiche toutes opérations non terminées", class: 'btn btn-ghost btn-sm !capitalize !font-normal' %>
  <%= link_to "Toutes", todos_path, class: 'btn btn-ghost btn-sm !capitalize !font-normal' %>
</div>

<% if @tags.any? %>
  <div class="flex overflow-x-auto gap-1 pb-4 hidden">
    <% tag_cloud(@tags, ['btn btn-xs btn-primary', 'btn btn-xs btn-secondary', 'btn btn-sm btn-accent', 'btn btn-sm btn-info']) do |tag, css_class| %>
      <%= link_to(tag.name, todos_path(tag:tag.name), class: css_class) %>
    <% end %>
  </div>
<% end %>
<br>

<% if @todos.any? %>
  <div class="border-t border-r border-l border-slate-300">
    <%= render partial: 'todo_phone', collection:@todos, as: :todo %>
  </div>

<% else %>
  Rien à afficher...
<% end %>