<h1 class="mb-6">To-do</h1>

<% if @tags.any? %>
  <div class="mb-4">
    Tags :
    <% tag_cloud(@tags, ['badge badge-lg', 'badge badge-md', 'badge', 'badge badge-sm']) do |tag, css_class| %>
      <%= link_to(tag.name.humanize, todos_path(tag: tag.name), class: css_class) %>
    <% end %>
  </div>
<% end %>

<div class="mb-4">
  Afficher les opérations : 
  <%= link_to_unless params[:filter] == "todo", "A faire", todos_path(filter: "todo"), title:"Affiche les opérations non terminées qui vous sont assignées", class: 'link' %> |
  <%= link_to_unless params[:filter] == "pending", "En attente", todos_path(filter: "pending"), title:"Affiche toutes opérations non terminées", class: 'link'  %> |
  <%= link_to_unless params[:filter] == "notify", "À notifier", todos_path(filter: "notify"), title:"Affiche les opérations non terminées et arrivées à échéance", class: 'link' %> |
  <%= link_to_unless params[:filter] == "all", "Toutes", todos_path, class: 'link' %>
</div>

<% if @todos.any? %>
  <div class="overflow-x-auto">
    <table class="table table-normal">
      <thead>
        <tr>
          <th>Fait ?</th>
          <th>Tags</th>
          <th>A faire</th>
          <th COLSPAN=2>Assigné à</th>
          <th>Projet</th>
          <th>Echéance</th>
          <th>Doc</th>
        </tr>
      </thead>

      <tbody>
        <% @todos.each do |todo| %>
          <tr class="hover">
            <th><%= image_tag("yes.png") if todo.done %></th>
            <td>
              <% todo.tags.each do |tag| %>
                <%= link_to(tag.name.humanize, todos_path(tag: tag.name), class: 'text-slate-300 badge badge-outline badge-sm') %>
              <% end %>
            </td>
            <td style="width:400px;"><b><%= link_to truncate(todo.name, length: 50), edit_todo_path(todo)%></b></td>
            <td>
              <%= image_tag(todo.user.avatar, alt:'', class:"mini_avatar") if todo.user.avatar.attached?%>
            </td>
            <td><%= todo.user.name if todo.user %></td>
            <td>
              <span class="pl-1" style="border-left: .3rem solid <%= todo.project.color %>">
                <%= link_to todo.project_todolist_name, todo.todolist %>
              </span>
            </td>
            <td>
              <% if todo.duedate %>
                <small><%=  todo.duedate >= Date.today ? "dans" : "il y a " %>
                <%= time_ago_in_words(todo.duedate) %></small>
              <% end %>
            </td>
            <td>
              <%= link_to(image_tag("document.png", title:'Cliquez pour ouvrir le document'), '/documents/' + todo.docfilename, { target:'_blank' }) if todo.docfilename %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th colspan="8">
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
<% else %>
  Rien à afficher...<br> 
<% end %>
<br>
