<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @todo.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @todo.user %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
