<% if @day != log.created_at.day %>
  <% @user_id = 0 %>
  <% @day = log.created_at.day %>
  <% month_name = I18n.t("date.month_names")[log.created_at.month] %>
  <h3 class="mt-8 mb-4">
    <b><%= "#{@day} #{month_name}" %></b>
    <%= "(Aujourd'hui)" if log.created_at.to_date == Date.today %>
  </h3>
<% end %>

<div class="flex flex-row gap-4 lg:gap-8 mb-1">
  <p style="color:lightgrey; width:45px;">
    <%= log.created_at.strftime("%H:%M") %>
  </p>
  <p style="width: 45px;">
    <% if @user_id != log.user_id %>
      <% @user_id = log.user_id %>
      <%= image_tag(log.user.avatar, alt:'', class:'mini_avatar') if log.user.avatar.attached? %>
    <% end %>
  </p>
  <p class="pl-2" style="border-left: 7px solid <%= log.project.color if log.project %>">
    <% if log.user_id == current_user.id %>
      <b>Vous</b> avez  
    <% else %>
      <b><%= log.user.name %></b> a
    <% end %>
    <%= raw log.description  %>  
  </p>
</div>
