<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @field.errors.count) %></h2>

      <ul>
      <% @field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-controller="field">
    <%= f.hidden_field :table_id %>

    <%= f.label :name, @field.new_record? ? "Ajouter une nouvelle colonne" : "Nom de la colonne" %><br>
    <%= f.text_field :name, class: 'input input-bordered' %>
    <div class="inline" data-action="change->field#toggle">
      <%= f.select :datatype, options_for_select(Field.datatypes.keys.to_a, @field.datatype), {}, class: 'input input-bordered', 'data-field-target': "selector" %>
    </div>
    <div class="hidden" data-field-target="items">
      <%= f.text_field :items, class: 'input input-bordered' %>
    </div>
    
    <%= f.submit @field.new_record? ? "Ajouter" : "Modifier", class:'btn btn-primary btn-outline' %>
  </div>
<% end %>
