<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <title><%= @sitename %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" %>
  </head>

  <body>
    <%= render partial: "partials/navbar" %>
    <main class="container mx-auto px-2 mt-8">
      <%= yield %>
    </main>
    <%= render partial: "partials/notification" %>
  </body>
</html>
