<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Log in</th>
      <th>Nom</th>
      <th>Compte</th>
      <th>Création</th>
      <th>Users</th>
      <th>Invités</th>
      <th>Projets</th>
      <th>Listes</th>
      <th>Todos</th>
      <th>Docs</th>
      <th>Tables</th>
      <th>Values</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= Account.count %></th>
      <th><%= Participant.count %></th>
      <th><%= Project.count %></th>
      <th><%= Todolist.count %></th>
      <th><%= Todo.count %></th>
      <th><%= Todo.where.not(docfilename:nil).count %></th>
      <th><%= Table.count %></th>
      <th><%= Value.count %></th>
    </tr>
  </tfoot>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><small>Il y a <%= time_ago_in_words(account.users.first.updated_at) %></small></td>
        <td><%= account.users.first.email %></td>
        <td><%= account.name %></td>
        <td><small>Il y a <%= time_ago_in_words(account.created_at) %></small></td>
        <td><%= account.users.count %></td>
        <td><%= account.participants.count %></td>
        <td><%= account.projects.count %></td>
        <td><%= account.todolists.count %></td>
        <td><%= account.todos.count %></td>
        <td><%= account.todos.where.not(docfilename:nil).count %></td>
        <td><%= account.tables.count %></td>
        <td><%= account.values.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
