<div class="flex min-h-screen flex-col justify-center aligns-items-center items-center mb-12">
  <div id="connexion">
    <h1 class="text-4xl font-bold text-center">Inscription</h1>
    <hr class="my-4">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= label_tag :account, 'Entreprise' %><br />
        <%= text_field_tag :account, {}, { class:"input input-bordered w-full", required: true } %>
      </div>

      <div class="field">
        <%= f.label :name, 'Votre nom / prénom' %><br />
        <%= f.text_field :name, class:"input input-bordered w-full", required: true %>
      </div>

      <div class="field">
        <%= f.label :username, 'Nom d\'utilisateur' %><br />
        <%= f.text_field :username, class:"input input-bordered w-full", required: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:"input input-bordered w-full", required: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> charactères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"input input-bordered w-full", required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input input-bordered w-full", required: true %>
      </div>

      <%= recaptcha_tags %>

      <div class="actions">
        <%= f.submit "S'inscrire", class:"btn btn-outline w-full mb-3" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>